* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}


.box {
    height: 300px;
    width: 300px;
    position: absolute;
    animation-name: fifu;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 10;
}


@keyframes fifu {
   0% {
left: 0;
top: 0;
background-color: aqua;
border-color: brown;
   } 

   50% {
    left: 50%;
    top: 0;
    background-color: rgb(51, 66, 61);
   }

   100% {
    left: 50%;
    top: 40%;
    background-color: blueviolet;
   }
}